@import './../../styles/mixins.scss';

.searchbar {
  position: relative;

  &__wrapper {
    position: relative;

    .icon {
      position: absolute;
      left: 12px;
      top: 11px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    background: none;
    color: #fff;
    border: none;
    outline: 1px solid #fff;
    border-radius: 24px;
    padding: 12px 12px 12px 44px;
    font-size: 14px;

    @include md {
      font-size: 16px;
    }
  }

  &__suggestions {
    width: 100%;
    list-style: none;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 0;
    background: #2C2C2C;
    color: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;
  }

  &__suggestion {
    cursor: pointer;
  }
}