@import './../../styles/mixins.scss';

.header {
  height: 80px;
  background: #2C2C2C;
  padding: 16px;
  box-sizing: border-box;

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__place {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 15px;
    color: #fff;

    @include md {
      width: 33.333333333%;
      font-size: 17px;
    }
  }

  &__search {
    width: 50%;

    @include md {
      width: 33.333333333%;
    }
  }

  &__settings {
    width: 33.333333333%;
    display: none;

    @include md {
      display: block;
    }
  }

  .container {
    height: 100%;
    padding: 0;

    @include md {
      padding: 0 16px;
    }
  }
}