@import 'normalize.css';
@import './styles/mixins.scss';
@import './styles/variables.scss';
@import './styles/container.scss';
@import './styles/fonts.scss';

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background: #1A1A1C;
}

.icon {
  filter: brightness(0) invert(1);

  img {
    width: 25px;
    height: 25px;
  }
}